*{
    margin: 0;
    padding: 0;
}


p{
    text-align: justify;
}



.my-slider .carousel-indicators li{
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.my-slider .carousel-indicators .active{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
    top: -5px;
}


.my-team{
    padding: 100px 0px;
}
.my-team{
    background: rgb(243, 243, 243);
}
.my-team .heading{}
.my-team .heading h1{
    text-align: center;
    padding-bottom: 10px;
}